<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的博客</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        @Html.ActionLink("我的博客", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("主页", "Index", "Home", new { area = "" }, new { @class="nav-link"})</li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">标签</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        @{
                            foreach (var o in (IList<MyProject.Models.TagsUse>)ViewData["taglist"])
                            {
                                <li><a class="dropdown-item" href="/?tag=@o.id">@(o.tname) (@o.cc)</a></li>
                            }
                        }
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">收藏链接</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown02">
                        <li><a class="dropdown-item" href="http://www.cnblogs.com" target="_blank">博客园</a></li>
                        <li><a class="dropdown-item" href="http://jquery.com" target="_blank">jQuery</a></li>
                    </ul>
                </li>
                <li class="nav-item">@Html.ActionLink("关于", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                @Html.Partial("_LoginPartial")
            </form>
        </div>
    </nav>

    <main role="main" class="container">
        <p>&nbsp;</p>
        @RenderBody()
    </main>
    <footer style="width:100%;text-align:center;">
        <p>&copy; puddingz.com - @DateTime.Now.Year <a href="http://www.beian.miit.gov.cn" target="_blank">京ICP备15011829号</a></p>
    </footer>

</body>
</html>
